{
  "API_BASE_URL": "https://meatvo.com",
  "MEATVO_API_ROOT": "https://meatvo.com",
  "APP_ENV": "production",
  "GOOGLE_MAPS_API_KEY": "your_production_maps_key",
  "SENTRY_DSN": "https://your-sentry-dsn@o000000.ingest.sentry.io/0000000"
}
